In [1]:
import pandas as pd
import datetime as dt
import numpy as np
from datetime import datetime
from pprint import pprint

# Import Raw Data
raw_data = pd.read_csv("mis.csv", low_memory=False)

# It is for the Insurer reference
columns_to_keep = [
    "CorporateName", "RequestDate", "PatientName", "ApplicationId", "OrderID", "BookingId", 
    "PolicyNo", "Age", "Gender", "RelationShip", "EmailId", "ContactNo", "PackageName",
    "packageInvestigations", "ApptCreatedDate", "AppointmentDate", "ApptTime", 
    "SecondPreferredDate", "SecondPreferredTime", "VisitType", "ProviderName", "ProviderState", 
    "ProviderCity", "ProviderLocation", "AppointmentStatus", "ReportUploaded", "reportUrl", 
    "QcApprovedDate", "QC Approval Month", "Photo Available & Type", "ClientCity", 
    "ClientState", "ClientAddress", "ClientPincode", "AgentName", "AgentCode", "source", 
    "NumberofAttempts", "lastCallDateTime", "LastCallStatus", "ApptCreatedBySelfAllocation", 
    "ProductName", "planType", "loanId", "mphName", "PackageName", "SplitDate", 
    "ApprovalType", "AM_Name", "Escort", "PriorityAssigned", "DND"
]

# Filter this data for the Insurer reference
raw_data = raw_data[columns_to_keep]

# Define relevant columns for further processing
relevant_columns = [
    "RequestDate", "PatientName", "ApplicationId", "ReportUploaded", "AppointmentStatus", 
    "LastCallStatus", "AppointmentDate", "QcApprovedDate", "NumberofAttempts", "DND"
]

# Create a new DataFrame with relevant data
relevant_data = raw_data[relevant_columns]

In [3]:
relevant_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7111 entries, 0 to 7110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestDate        7111 non-null   object
 1   PatientName        7111 non-null   object
 2   ApplicationId      7111 non-null   object
 3   ReportUploaded     7111 non-null   object
 4   AppointmentStatus  7111 non-null   object
 5   LastCallStatus     4050 non-null   object
 6   AppointmentDate    5601 non-null   object
 7   QcApprovedDate     4770 non-null   object
 8   NumberofAttempts   5826 non-null   float64
 9   DND                7111 non-null   object
dtypes: float64(1), object(9)
memory usage: 555.7+ KB

In [5]:
# Filter rows where 'ApplicationId' starts with 'G' or ' G' and ends with '01'
group_case_index = relevant_data[
    relevant_data["ApplicationId"].str.strip().str.startswith("G") & 
    relevant_data["ApplicationId"].str.endswith("01")
].index

# Assign the filtered Group Cases to a new DataFrame
df = relevant_data.loc[group_case_index]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4572 entries, 0 to 7110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestDate        4572 non-null   object
 1   PatientName        4572 non-null   object
 2   ApplicationId      4572 non-null   object
 3   ReportUploaded     4572 non-null   object
 4   AppointmentStatus  4572 non-null   object
 5   LastCallStatus     2745 non-null   object
 6   AppointmentDate    3694 non-null   object
 7   QcApprovedDate     3337 non-null   object
 8   NumberofAttempts   4094 non-null   float64
 9   DND                4572 non-null   object
dtypes: float64(1), object(9)
memory usage: 392.9+ KB

In [9]:
# Convert specified columns to datetime format
date_columns = ["RequestDate", "AppointmentDate", "QcApprovedDate"]
df[date_columns] = df[date_columns].apply(pd.to_datetime, format="%d/%m/%Y", errors="coerce")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4572 entries, 0 to 7110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestDate        4572 non-null   datetime64[ns]
 1   PatientName        4572 non-null   object
 2   ApplicationId      4572 non-null   object
 3   ReportUploaded     4572 non-null   object
 4   AppointmentStatus  4572 non-null   object
 5   LastCallStatus     2745 non-null   object
 6   AppointmentDate    3694 non-null   datetime64[ns]
 7   QcApprovedDate     3337 non-null   datetime64[ns]
 8   NumberofAttempts   4094 non-null   float64
 9   DND                4572 non-null   object
dtypes: datetime64[ns](3), float64(1), object(6)
memory usage: 392.9+ KB

In [13]:
# Remove data from previous financial years
df = df[df["RequestDate"] > "31/03/2024"]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2452 entries, 0 to 7110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestDate        2452 non-null   datetime64[ns]
 1   PatientName        2452 non-null   object
 2   ApplicationId      2452 non-null   object
 3   ReportUploaded     2452 non-null   object
 4   AppointmentStatus  2452 non-null   object
 5   LastCallStatus     1468 non-null   object
 6   AppointmentDate    1991 non-null   datetime64[ns]
 7   QcApprovedDate     1781 non-null   datetime64[ns]
 8   NumberofAttempts   2147 non-null   float64
 9   DND                2452 non-null   object
dtypes: datetime64[ns](3), float64(1), object(6)
memory usage: 210.7+ KB

In [17]:
# Filter completed cases
completed_statuses = [
    "QC Approved", "QC APPROVED", "Reports Uploaded", "Reports Uploaded by DC", 
    "Appointment Attended", "QC Rejected", "Sent For Interpretation"
]
completed_cases = df[df["AppointmentStatus"].isin(completed_statuses)]

# Select relevant columns
converted = completed_cases.loc[:, [
    "RequestDate", "PatientName", "ApplicationId", "AppointmentDate", 
    "QcApprovedDate", "ReportUploaded", "AppointmentStatus"
]]

# Calculate TATs
converted["Appointment_TAT"] = (converted["AppointmentDate"] - converted["RequestDate"]).dt.days
converted["QC_TAT"] = (converted["QcApprovedDate"] - converted["AppointmentDate"]).dt.days

# Handle null values in QC_TAT
converted["QC_TAT"] = converted["QC_TAT"].fillna("Pending")

# Define TAT transformation function
def set_tat_value(value):
    if isinstance(value, (int, float)):
        if value < 0:
            return 0
        if value == 0:
            return "T0"
        if value == 1:
            return "T+1"
        if value == 2:
            return "T+2"
        if value == 3:
            return "T+3"
        if value == 4:
            return "T+4"
        if value > 4:
            return ">T+4"
    return value  # Return as-is for non-numeric values

# Apply transformation to TAT columns
converted["Appointment_TAT"] = converted["Appointment_TAT"].apply(set_tat_value)
converted["QC_TAT"] = converted["QC_TAT"].apply(set_tat_value)

In [19]:
converted.head(2)

,RequestDate,PatientName,ApplicationId,AppointmentDate,QcApprovedDate,ReportUploaded,AppointmentStatus,Appointment_TAT,QC_TAT
0,2024-10-18,Rohit Makwana,GMDBA10030_1000000030_GL0301,2024-11-15,NaT,No,Appointment Attended,>T+4,Pending
1,2024-10-21,Divya Bhalla,GMDMU11047_1000000017_GL0301,2024-11-15,NaT,No,Appointment Attended,>T+4,Pending

In [21]:
converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1804 entries, 0 to 6359
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestDate        1804 non-null   datetime64[ns]
 1   PatientName        1804 non-null   object
 2   ApplicationId      1804 non-null   object
 3   AppointmentDate    1804 non-null   datetime64[ns]
 4   QcApprovedDate     1780 non-null   datetime64[ns]
 5   ReportUploaded     1804 non-null   object
 6   AppointmentStatus  1804 non-null   object
 7   Appointment_TAT    1804 non-null   object
 8   QC_TAT             1804 non-null   object
dtypes: datetime64[ns](3), object(6)
memory usage: 140.9+ KB

In [23]:
# Filter for pending cases
pending_cases = df[~df["AppointmentStatus"].isin([
    "QC Approved", "QC APPROVED", "Reports Uploaded", "Appointment Attended", 
    "QC Rejected", "Sent For Interpretation"
])]

# Select relevant columns
pending = pending_cases.loc[:, [
    "RequestDate", "PatientName", "ApplicationId", "AppointmentStatus", 
    "LastCallStatus", "NumberofAttempts", "DND"
]]

# Assign 'Status' column based on conditions
pending["Status"] = None

# Assign 'Max Attempts' for cases with attempts > 30
pending.loc[pending["NumberofAttempts"] > 30, "Status"] = "Max Attempts"

# Assign 'DND' for cases marked as "Yes" in the 'DND' column where 'Status' is still NaN
pending.loc[pending["Status"].isna() & (pending["DND"] == "Yes"), "Status"] = "DND"

# Assign appointment status cases where applicable and 'Status' is still NaN
pending.loc[
    pending["Status"].isna() & 
    pending["AppointmentStatus"].isin([
        "Cancelled", "Cancelled by insurer", "Cancelled By Provider", 
        "Appointment Confirmed", "Order sent to partner"
    ]), 
    "Status"
] = pending.loc[
    pending["Status"].isna() & 
    pending["AppointmentStatus"].isin([
        "Cancelled", "Cancelled by insurer", "Cancelled By Provider", 
        "Appointment Confirmed", "Order sent to partner"
    ]), 
    "AppointmentStatus"
]

# Assign 'LastCallStatus' for remaining cases where 'Status' is still NaN
pending.loc[pending["Status"].isna(), "Status"] = pending["LastCallStatus"]

# Replace any remaining NaN in 'Status' with 'Non Contactable'
pending["Status"] = pending["Status"].fillna("Non Contactable")

In [25]:
# Update 'Status' to "Working On It" for specific cases
pending.loc[
    pending["Status"].isin([
        "Appointment Request Received", "Direct Medical", "Location Constraint", 
        "Medical Done Report Awaited", "Reminder"
    ]), 
    "Status"
] = "Working On It"

In [27]:
pending["Status"].value_counts()

Status
Max Attempts             227
DND                      118
Insurer Actionable       108
Non Contactable           67
Cancelled                 53
Working On It             30
Order sent to partner     16
Callback                  14
Appointment Confirmed      8
Cancelled by insurer       4
Duplicate                  4
Name: count, dtype: int64

In [29]:
# Assign 'Type' as "Workable" for specific statuses
pending["Type"] = pending["Status"].apply(
    lambda status: "Workable" if status in [
        "Appointment Confirmed", "Callback", "Non Contactable", 
        "Order sent to partner", "Working On It"
    ] else "Non_Workable"
)

# Extract Non-Workable Data
Non_Workable_Data = pending[pending["Type"] == "Non_Workable"]

In [31]:
pending["Type"].value_counts()

Type
Non_Workable    514
Workable        135
Name: count, dtype: int64

In [33]:
# Format "RequestDate" as month names for grouping
converted['Month'] = converted['RequestDate'].dt.strftime('%b')

# Create a pivot table to count 'ApplicationId' grouped by 'Appointment_TAT' and month
Pivot_Output = pd.pivot_table(
    converted,
    values='ApplicationId',
    index='Appointment_TAT',
    columns='Month',
    aggfunc='count',
    fill_value=0
).reset_index()

# Remove the column name for columns
Pivot_Output.columns.name = None

# Reorder the index
custom_order = [5, 1, 2, 3, 4, 0]  # Specify the desired order
Pivot_Output = Pivot_Output.reindex(custom_order).reset_index(drop=True)

# Add cumulative sum columns for each month
for month in ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']:
    Pivot_Output[f'{month}_Cum'] = Pivot_Output[month].cumsum()

# Drop the original monthly count columns
Pivot_Output.drop(columns=['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov'], inplace=True)

# Rename cumulative sum columns back to the original month names
Pivot_Output.rename(columns={f'{month}_Cum': month for month in ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']}, inplace=True)

# Calculate percentage columns for each month
for month in ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']:
    Pivot_Output[f'{month}_Per'] = Pivot_Output[month] / Pivot_Output.loc[5, month]

# Select final columns for the report
cols_order = [col for month in ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov'] for col in (month, f'{month}_Per')]
Appt_TAT_Report = Pivot_Output[cols_order]

In [35]:
Appt_TAT_Report

,Apr,Apr_Per,May,May_Per,Jun,Jun_Per,Jul,Jul_Per,Aug,Aug_Per,Sep,Sep_Per,Oct,Oct_Per,Nov,Nov_Per
0,8,0.041885,2,0.008264,5,0.018657,3,0.011364,3,0.011450,4,0.013937,3,0.012987,2,0.033898
1,17,0.089005,23,0.095041,28,0.104478,13,0.049242,19,0.072519,25,0.087108,18,0.077922,11,0.186441
2,30,0.157068,50,0.206612,52,0.194030,42,0.159091,52,0.198473,54,0.188153,49,0.212121,31,0.525424
3,44,0.230366,70,0.289256,78,0.291045,61,0.231061,76,0.290076,85,0.296167,70,0.303030,38,0.644068
4,57,0.298429,95,0.392562,103,0.384328,89,0.337121,99,0.377863,113,0.393728,94,0.406926,39,0.661017
5,191,1.000000,242,1.000000,268,1.000000,264,1.000000,262,1.000000,287,1.000000,231,1.000000,59,1.000000

In [37]:
def Calculate_Monthly_Data(input_df, output_col_name):
    
    # Format month from the RequestDate and add new column 'Month'
    input_df["Month"] = input_df["RequestDate"].dt.strftime("%b")

    # Define the month order
    month_order = ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec","Jan","Feb","Mar"]

    # Count Cases for Each Month
    output_df = (input_df.groupby('Month')
                 .size()
                 .reset_index(name=output_col_name)
                 .assign(Month=lambda x: pd.Categorical(x['Month'], categories=month_order, ordered=True))
                 .sort_values('Month')
                 .reset_index(drop=True))

    # Calculate and append the grand total
    grand_total = output_df[output_col_name].sum()
    grand_total_row = pd.DataFrame({'Month': ['Grand Total'], output_col_name: [grand_total]})

    # Use pd.concat to add the grand total row to the monthly_cases DataFrame
    output_df = pd.concat([output_df, grand_total_row], ignore_index=True)
    return output_df

In [39]:
monthly_cases = Calculate_Monthly_Data(df, "Cases Received")
NW_monthly_cases = Calculate_Monthly_Data(Non_Workable_Data, "Non-Workable")
c_monthly_cases = Calculate_Monthly_Data(converted, "Converted Data")

C:\Users\mailt\AppData\Local\Temp\ipykernel_1552\1367702789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df["Month"] = input_df["RequestDate"].dt.strftime("%b")

In [41]:
monthly_cases

         Month  Cases Received
0          Apr             251
1          May             322
2          Jun             348
3          Jul             339
4          Aug             322
5          Sep             372
6          Oct             362
7          Nov             136
8  Grand Total            2452

In [43]:
# Directly assign columns and calculate the values in one step
Overall_Conversion = monthly_cases.copy()  # Make a copy to avoid modifying the original DataFrame

# Merge the required data (Non-Workable and Converted Data) using 'Month' as the common key
Overall_Conversion = Overall_Conversion.merge(NW_monthly_cases[['Month', "Non-Workable"]], on='Month', how='left')
Overall_Conversion = Overall_Conversion.merge(c_monthly_cases[['Month', 'Converted Data']], on='Month', how='left')

# Calculate 'Workable' and 'Conversion on Workable Data' in one step
Overall_Conversion["Workable"] = Overall_Conversion["Cases Received"] - Overall_Conversion["Non-Workable"]
Overall_Conversion["Conversion on Workable Data"] = Overall_Conversion["Converted Data"] / Overall_Conversion["Workable"]

# Handle any potential division by zero or NaN values (if necessary)
Overall_Conversion["Conversion on Workable Data"].fillna(0, inplace=True)

# Output the final DataFrame
print(Overall_Conversion)

         Month  Cases Received  Non-Workable  Converted Data  Workable  \
0          Apr             251            57             191       194
1          May             322            76             242       246
2          Jun             348            74             268       274
3          Jul             339            67             264       272
4          Aug             322            52             262       270
5          Sep             372            76             287       296
6          Oct             362            90             231       272
7          Nov             136            22              59       114
8  Grand Total            2452           514            1804      1938

   Conversion on Workable Data
0                     0.984536
1                     0.983740
2                     0.978102
3                     0.970588
4                     0.970370
5                     0.969595
6                     0.849265
7                     0.517544
8                     0.930857

C:\Users\mailt\AppData\Local\Temp\ipykernel_1552\2436650987.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Overall_Conversion["Conversion on Workable Data"].fillna(0, inplace=True)

In [45]:
# Get the current date and format it as dd-mm-yyyy
from datetime import datetime
current_date = datetime.now().strftime('%d-%m-%Y')
current_date

# Define the destination path
destination= "Report_" + current_date +".xlsx"
destination

# Create the writer variable
writer=pd.ExcelWriter(destination)
raw_data.to_excel(writer, sheet_name="Raw Data", index=False)
df.to_excel(writer, sheet_name="Cleaned Data", index=False)
converted.to_excel(writer, sheet_name="Converted Data", index=False)
pending.to_excel(writer, sheet_name="Pending Data", index=False)
Non_Workable_Data.to_excel(writer, sheet_name="Non_Workable Data", index=False)
Appt_TAT_Report.to_excel(writer, sheet_name="Appt_TAT_Report", index=False)
Overall_Conversion.to_excel(writer, sheet_name="Overall_Conversion", index=False)
writer.close()
print("Reports have been exported to the Excel Files")